/ServletsHW/build/
/CrecionServlet/nbproject/private/
/CrecionServlet/build/
/ManejoParametros/nbproject/private/
/ManejoParametros/build/
/Formularios/nbproject/private/
/Formularios/build/
/Cabeceros/nbproject/private/
/Cabeceros/build/
/TipoNavegador/nbproject/private/
/TipoNavegador/build/
/Redireccionamiento/nbproject/private/
/Redireccionamiento/build/
/HMJSP/nbproject/private/
/HMJSP/build/
/ElementosJSP/nbproject/private/
/ElementosJSP/build/
/ScripletsJSP/nbproject/private/
/DeclaracionJSP/nbproject/private/
/DeclaracionJSP/build/
/DocumentosJSP/nbproject/private/
/DocumentosJSP/build/
/excelJSP/nbproject/private/
/excelJSP/build/
/excelJSP_2/nbproject/private/
/excelJSP_2/build/